<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="CATALOGOSEntities" connectionString="metadata=res://*/CatalogosBd.csdl|res://*/CatalogosBd.ssdl|res://*/CatalogosBd.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=150.100.234.142\INSSQL002;initial catalog=CATALOGOS;persist security info=True;user id=negint;password=negint;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TICKETEntities" connectionString="metadata=res://*/TicketBd.csdl|res://*/TicketBd.ssdl|res://*/TicketBd.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=150.100.234.142\INSSQL002;initial catalog=TICKET;persist security info=True;user id=negint;password=negint;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="PARAMETRO.bGPIMT103" value="" />
    <add key="PARAMETRO.bGPIMT202" value="" />
    <add key="PARAMETRO.bPruebasGPI33B" value="" />
    <add key="PARAMETRO.rutaUETR_TXT" value="" />
    <add key="PARAMETRO.rutaUETR_BAT" value="" />
    <add key="PARAMETRO.logUETR" value="" />
    <add key="PARAMETRO.rutaLog" value="" />
    <add key="PARAMETRO.rutaUETR" value="" />
    <add key="PARAMETRO.CHKEQ" value="" />
    <add key="PARAMETRO.CHKSW" value="" />
    <add key="PARAMETRO.CHKSALDOSLA" value="" />
    <add key="PARAMETRO.CHKSALDOSGC" value="" />
    <add key="PARAMETRO.CHKOVERGC" value="" />
    <add key="PARAMETRO.CHKCLOSE" value="" />
    <add key="PARAMETRO.CHKPERIODO" value="" />
    <add key="PARAMETRO.QUERYTIMEOUT" value="" />
    <add key="PARAMETRO.CHKARCHFINT" value="" />
    <add key="PARAMETRO.CHKARCHGC3S" value="" />
    <add key="PARAMETRO.CHK0" value="" />
    <add key="PARAMETRO.CHK1" value="" />
    <add key="PARAMETRO.CHK2" value="" />
    <add key="PARAMETRO.CHK3" value="" />
    <add key="PARAMETRO.CHK4" value="" />
    <add key="PARAMETRO.CHK5" value="" />
    <add key="PARAMETRO.CHK6" value="" />
    <add key="PARAMETRO.CHK7" value="" />
    <add key="PARAMETRO.CHK8" value="" />
    <add key="PARAMETRO.CHK9" value="" />
    <add key="PARAMETRO.CHK10" value="" />
    <add key="PARAMETRO.CHK11" value="" />
    <add key="PARAMETRO.CHK12" value="" />
    <add key="PARAMETRO.CHK13" value="" />
    <add key="PARAMETRO.CHK14" value="" />
    <add key="PARAMETRO.CHK15" value="" />
    <add key="PARAMETRO.CHK16" value="" />
    <add key="PARAMETRO.INTERCLOSE" value="" />
    <add key="PARAMETRO.SALDOFASE1" value="" />
    <add key="PARAMETRO.SALDOFASE2" value="" />
    <add key="PARAMETRO.SALDOFASE3" value="" />
    <add key="PARAMETRO.FECHAKPTTXT" value="" />
    <add key="PARAMETRO.FECHATXTSQL" value="" />
    <add key="PARAMETRO.PERIODO0" value="" />
    <add key="PARAMETRO.PERIODO1" value="" />
    <add key="PARAMETRO.PERIODOSALDO0" value="" />
    <add key="PARAMETRO.PERIODOSALDO1" value="" />
    <add key="PARAMETRO.LIBDEFAULT" value="" />
    <add key="PARAMETRO.LIBSWIFT" value="" />
    <add key="PARAMETRO.LIBSALDOS" value="" />
    <add key="PARAMETRO.SNAE60" value="" />
    <add key="PARAMETRO.SNA620" value="" />
    <add key="PARAMETRO.SENDAS400" value="" />
    <add key="PARAMETRO.SENDLAOPS" value="" />
    <add key="PARAMETRO.SENDGCOPS" value="" />
    <add key="PARAMETRO.SLASHMT100" value="" />
    <add key="PARAMETRO.PATHMODELS" value="" />
    <add key="PARAMETRO.PATHFTPAPP" value="" />
    <add key="PARAMETRO.PATHSWIFT" value="" />
    <add key="PARAMETRO.PATHEQUATION" value="" />
    <add key="PARAMETRO.SLASHMT103" value="" />
    <add key="PARAMETRO.SERVIDORFTP" value="" />
    <add key="PARAMETRO.USUARIOFTP" value="" />
    <add key="PARAMETRO.PASSWORDFTP" value="" />
    <add key="PARAMETRO.DIRDESTINO" value="" />
    <add key="PARAMETRO.SNANAME" value="" />
    <add key="PARAMETRO.APPPWD" value="" />
    <add key="PARAMETRO.BDESTINOLA" value="" />
    <add key="PARAMETRO.BDESTINOGC" value="" />
    <add key="PARAMETRO.AMBIENTE" value="" />
    <add key="PARAMETRO.DIRCONFIRMACION" value="" />
    <add key="PARAMETRO.ENCABEZADO" value="" />
    <add key="PARAMETRO.FECHASWFSQL" value="" />
    <add key="PARAMETRO.PERIODO2" value="" />
    <add key="PARAMETRO.INTERTIMER" value="" />
    <add key="PARAMETRO.PERIODOSALDO2" value="" />
    <add key="PARAMETRO.PATHHISTORY" value="" />
    <add key="PARAMETRO.CHKTDSNY" value="" />
    <add key="PARAMETRO.SENDICASWIFT" value="" />
    <add key="PARAMETRO.CHKFTP" value="" />
    <add key="PARAMETRO.CHKCHEQUERA" value="" />
    <add key="PARAMETRO.CHKBANKLINK" value="" />
    <add key="PARAMETRO.FECHABANKLINK" value="" />
    <add key="PARAMETRO.FECHACHEQUERA" value="" />
    <add key="PARAMETRO.PERIODOCHEQUERA" value="" />
    <add key="PARAMETRO.PERIODOBANKLINK" value="" />
    <add key="PARAMETRO.INTENTOSKAPITITXT" value="" />
    <add key="PARAMETRO.SENDNYOPS" value="" />
    <add key="PARAMETRO.DBGESTORES" value="" />
    <add key="PARAMETRO.CHKSALDOSHO" value="" />
    <add key="PARAMETRO.CHKTDSHO" value="" />
    <add key="PARAMETRO.PERIODO3" value="" />
    <add key="PARAMETRO.MAPRUTADIRREMOTO" value="" />
    <add key="PARAMETRO.MAPUNIDADLOCAL" value="" />
    <add key="PARAMETRO.MAPUSUARIO" value="" />
    <add key="PARAMETRO.MAPPASSWORD" value="" />
    <add key="PARAMETRO.MAPRUTADIRDEST" value="" />
    <add key="PARAMETRO.CHKENVEQT" value="" />
    <add key="PARAMETRO.CHKENVSWF" value="" />
    <add key="PARAMETRO.MAPRUTADIRREG" value="" />
    <add key="PARAMETRO.MQMANAGER" value="" />
    <add key="PARAMETRO.MQLEER" value="" />
    <add key="PARAMETRO.MQREPORTE" value="" />
    <add key="PARAMETRO.RESPALDO" value="" />
    <add key="PARAMETRO.PERIODORESP" value="" />
    <add key="PARAMETRO.PATHSALDOS" value="" />
    <add key="PARAMETRO.INTERCLOSEAUTO" value="" />
    <add key="PARAMETRO.ENVIOXML" value="" />
    <add key="PARAMETRO.RutaExeXML" value="" />
    <add key="PARAMETRO.ENVIOMT" value="" />
    <add key="Rutatxt.Logs" value="" />
    <add key="RUTASTXT.Logs" value="" />
    <add key="AS400.DSN" value="RfPRPaUb^Ss\Ua^Ss\Ve" />
    <add key="AS400.Biblioteca" value="" />
    <add key="AS400.Usuario" value="^`rRPM@Vad_]iaRQrR``at" />
    <add key="AS400.Password" value="~u‘XXq‚^Ss\Ua^Ss\Ve" />
    <add key="LOG.Escribe" value="1" />
    <add key="LOG.Ruta" value="C:\Users\MI05332\source\repos\Biblioteca_InterfazSaldosDiarios\Interfaz_SaldosDiarios\bin\Debug\Logs" />
  </appSettings>

  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>