<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="CATALOGOSEntities" connectionString="metadata=res://*/CatalogosBd.csdl|res://*/CatalogosBd.ssdl|res://*/CatalogosBd.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=150.100.234.142\INSSQL002;initial catalog=CATALOGOS;persist security info=True;user id=negint;password=negint;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TICKETEntities" connectionString="metadata=res://*/TicketBd.csdl|res://*/TicketBd.ssdl|res://*/TicketBd.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=150.100.234.142\INSSQL002;initial catalog=TICKET;persist security info=True;user id=negint;password=negint;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="PARAMETRO.bGPIMT103" value="1" />
    <add key="PARAMETRO.bGPIMT202" value="0" />
    <add key="PARAMETRO.bPruebasGPI33B" value="0" />
    <add key="PARAMETRO.rutaUETR_TXT" value="C:\temp\InterfazEnvios\UETR\UETR_TXT" />
    <add key="PARAMETRO.rutaUETR_BAT" value="C:\temp\InterfazEnvios\UETR" />
    <add key="PARAMETRO.logUETR" value="1" />
    <add key="PARAMETRO.rutaLog" value="C:\temp\InterfazEnvios\UETR\LOG" />
    <add key="PARAMETRO.rutaUETR" value="C:\temp\InterfazEnvios\UETR\UETR_TXT" />
    <add key="PARAMETRO.CHKEQ" value="1" />
    <add key="PARAMETRO.CHKSW" value="1" />
    <add key="PARAMETRO.CHKSALDOSLA" value="0" />
    <add key="PARAMETRO.CHKSALDOSGC" value="0" />
    <add key="PARAMETRO.CHKOVERGC" value="0" />
    <add key="PARAMETRO.CHKCLOSE" value="1" />
    <add key="PARAMETRO.CHKPERIODO" value="0" />
    <add key="PARAMETRO.QUERYTIMEOUT" value="300" />
    <add key="PARAMETRO.CHKARCHFINT" value="0" />
    <add key="PARAMETRO.CHKARCHGC3S" value="0" />
    <add key="PARAMETRO.CHK0" value="1" />
    <add key="PARAMETRO.CHK1" value="1" />
    <add key="PARAMETRO.CHK2" value="1" />
    <add key="PARAMETRO.CHK3" value="1" />
    <add key="PARAMETRO.CHK4" value="1" />
    <add key="PARAMETRO.CHK5" value="1" />
    <add key="PARAMETRO.CHK6" value="1" />
    <add key="PARAMETRO.CHK7" value="1" />
    <add key="PARAMETRO.CHK8" value="1" />
    <add key="PARAMETRO.CHK9" value="1" />
    <add key="PARAMETRO.CHK10" value="1" />
    <add key="PARAMETRO.CHK11" value="1" />
    <add key="PARAMETRO.CHK12" value="0" />
    <add key="PARAMETRO.CHK13" value="1" />
    <add key="PARAMETRO.CHK14" value="1" />
    <add key="PARAMETRO.CHK15" value="0" />
    <add key="PARAMETRO.CHK16" value="1" />
    <add key="PARAMETRO.INTERCLOSE" value="20.35" />
    <add key="PARAMETRO.SALDOFASE1" value="31-12-2050 23:59" />
    <add key="PARAMETRO.SALDOFASE2" value="31-12-2050 23:59" />
    <add key="PARAMETRO.SALDOFASE3" value="26-06-2003 09:33" />
    <add key="PARAMETRO.FECHATKTKPT" value="31-12-2050 23:59" />
    <add key="PARAMETRO.FECHAKPTTXT" value="31-12-2050 23:59" />
    <add key="PARAMETRO.FECHATXTSQL" value="31-12-2050 23:59" />
    <add key="PARAMETRO.PERIODO0" value="3" />
    <add key="PARAMETRO.PERIODO1" value="3" />
    <add key="PARAMETRO.PERIODOSALDO0" value="24" />
    <add key="PARAMETRO.PERIODOSALDO1" value="24" />
    <add key="PARAMETRO.LIBDEFAULT" value="e^pni_?Q^g^]TnS_qTc" />
    <add key="PARAMETRO.LIBSWIFT" value="e^pni_?Q^g^]TnS_qTc" />
    <add key="PARAMETRO.LIBSALDOS" value="e^pni_?Q^g^]TnS_qTc" />
    <add key="PARAMETRO.SNAE60" value="ZapnUOE?^Ss\Ua^Ss\Ve" />
    <add key="PARAMETRO.SNA620" value="ZapnUOE?^Ss\Ua^Ss\Ve" />
    <add key="PARAMETRO.SENDAS400" value="1" />
    <add key="PARAMETRO.SENDLAOPS" value="111111101101" />
    <add key="PARAMETRO.SENDGCOPS" value="000000001000" />
    <add key="PARAMETRO.SLASHMT100" value="0" />
    <add key="PARAMETRO.PATHMODELS" value="C:\temp\InterfazEnvios\Modelos" />
    <add key="PARAMETRO.PATHFTPAPP" value="C:\Program Files (x86)\IBM\Client Access" />
    <add key="PARAMETRO.PATHSWIFT" value="C:\temp\InterfazEnvios\Swift" />
    <add key="PARAMETRO.PATHEQUATION" value="C:\temp\InterfazEnvios\Equation" />
    <add key="PARAMETRO.SLASHMT103" value="0" />
    <add key="PARAMETRO.SERVIDORFTP" value="150.100.229.88" />
    <add key="PARAMETRO.USUARIOFTP" value="TKT" />
    <add key="PARAMETRO.PASSWORDFTP" value="TKT" />
    <add key="PARAMETRO.DIRDESTINO" value="FromTICKET" />
    <add key="PARAMETRO.SNANAME" value="INTL5250" />
    <add key="PARAMETRO.APPPWD" value="V_api^[Q^g^]TnS_qTc" />
    <add key="PARAMETRO.BDESTINOLA" value="BCMRMXM0XOPE" />
    <add key="PARAMETRO.BDESTINOGC" value="CHASUS30XOPE" />
    <add key="PARAMETRO.AMBIENTE" value="Pruebas" />
    <add key="PARAMETRO.DIRCONFIRMACION" value="TicketACK" />
    <add key="PARAMETRO.ENCABEZADO" value="BCMRUS60" />
    <add key="PARAMETRO.FECHASWFSQL" value="31-12-2050 23:59" />
    <add key="PARAMETRO.PERIODO2" value="3" />
    <add key="PARAMETRO.INTERTIMER" value="3" />
    <add key="PARAMETRO.PERIODOSALDO2" value="24" />
    <add key="PARAMETRO.PATHHISTORY" value="C:\temp\InterfazEnvios\Historico" />
    <add key="PARAMETRO.CHKTDSNY" value="0" />
    <add key="PARAMETRO.SENDICASWIFT" value="0" />
    <add key="PARAMETRO.CHKFTP" value="1" />
    <add key="PARAMETRO.CHKCHEQUERA" value="1" />
    <add key="PARAMETRO.CHKBANKLINK" value="1" />
    <add key="PARAMETRO.FECHABANKLINK" value="13-01-2022 13:09" />
    <add key="PARAMETRO.FECHACHEQUERA" value="21-03-2003 11:02" />
    <add key="PARAMETRO.PERIODOCHEQUERA" value="24" />
    <add key="PARAMETRO.PERIODOBANKLINK" value="24" />
    <add key="PARAMETRO.INTENTOSKAPITITXT" value="2" />
    <add key="PARAMETRO.SENDNYOPS" value="101111100" />
    <add key="PARAMETRO.DBGESTORES" value="Whjeil^PnZlnUbfQfP_Vkoeo" />
    <add key="PARAMETRO.CHKSALDOSHO" value="1" />
    <add key="PARAMETRO.CHKTDSHO" value="1" />
    <add key="PARAMETRO.PERIODO3" value="5" />
    <add key="PARAMETRO.MAPRUTADIRREMOTO" value="\\\\CBNOCSWIFT01\\FromTicket" />
    <add key="PARAMETRO.MAPUNIDADLOCAL" value="X:" />
    <add key="PARAMETRO.MAPUSUARIO" value="CB\\STKTSWIF" />
    <add key="PARAMETRO.MAPPASSWORD" value="swifttkt" />
    <add key="PARAMETRO.MAPRUTADIRDEST" value="X:\\" />
    <add key="PARAMETRO.CHKENVEQT" value="1" />
    <add key="PARAMETRO.CHKENVSWF" value="1" />
    <add key="PARAMETRO.MAPRUTADIRREG" value="X:\\TICKETACK\\" />
    <add key="PARAMETRO.MQMANAGER" value="b``eeadZ^Ss\Ua^Ss\Ve" />
    <add key="PARAMETRO.MQESCRIBIR" value="be`PcbTPiYK`avY_R`^`qfajAQ^g^]TnS_qTc" />
    <add key="PARAMETRO.MQLEER" value="b_`PcbTPiYKmXs`RfeRU]pcl]Tn" />
    <add key="PARAMETRO.MQREPORTE" value="cXlqrqQn_fpobdYQfQgT^cn`_\ac" />
    <add key="PARAMETRO.RESPALDO" value="31-12-2050 23:59" />
    <add key="PARAMETRO.FECHACIERRE" value="31-12-2050 23:59" />
    <add key="PARAMETRO.PERIODORESP" value="24" />
    <add key="PARAMETRO.PATHSALDOS" value="C:\temp\InterfazEnvios" />
    <add key="PARAMETRO.INTERCLOSEAUTO" value="20:35" />
    <add key="PARAMETRO.ENVIOXML" value="0" />
    <add key="PARAMETRO.RutaExeXML" value="C:\temp\InterfazEnvios" />
    <add key="PARAMETRO.ENVIOMT" value="1" />
    <add key="Rutatxt.Logs" value="C:\temp\InterfazEnvios\Logs" />
    <add key="RUTASTXT.Logs" value="C:\temp\InterfazEnvios\Logs" />
    <add key="AS400.DSN" value="RfPRPaUb^Ss\Ua^Ss\Ve" />
    <add key="AS400.Biblioteca" value="e^pni_RQrR_\ac_]ia" />
    <add key="AS400.Usuario" value="^`rRPM@Vad_]iaRQrR``at" />
    <add key="AS400.Password" value="~u‘XXq‚^Ss\Ua^Ss\Ve" />
    <add key="LOG.Escribe" value="1" />
    <add key="LOG.Ruta" value="C:\temp\InterfazEnvios\Logs" />
    <add key="APLICACION.RESET" value="1" />
  </appSettings>

  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>